body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{font-weight: bold;}
h1{   
    font-size: 3.5rem;
    line-height: 1.5;
}
p{
    color: #8f8f8f;
}
img{
    transform: rotate();
}
/* container */
.container-fluid{
    padding: 7% 15% 
}

/* sections */
.colored-section{
    background-color: #ff4c68;
    color: #fff;
}
.white-section{
    background-color: white;
}
/* headings */
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* Nav Bar */
#title{ 
    text-align: left;
}
#title > .container-fluid{
    padding: 3% 15% 7%;
}
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 100;
}

/* title */

.di{
    width: 100%;
    position: relative;
}
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    
}
.download-button{
    margin:5% 3% 5% 0;
}

/* Features */
#features{
    position: relative;
    z-index: 1;
}
.feature-title{
    font-size: 1.5rem;
}
.icon{
    margin: 0 0 1rem;
    color:#ef8172;
}
.icon:hover{
    color: #ff4c68;
}
.feature-box{
    padding: 4.5%;
}

/* testimonials */
#testimonials{
    background-color:#ef8172;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
.testimonial-image{
    width: 10%;
    margin: 20px;
    border-radius: 100%;
}
#press{
    background-color: #ef8172; 
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* price */
#pricing{
    padding: 100px;
   
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-column{
    padding: 3% 2%;
}

/* cta */
.cta-heading{
    font-weight: 900;
}
.cta-heading>h3{
    font-size: 3.5rem;    
line-height: 1.5;
}

/* footer */

#footer{
    padding: 3% 10%;
}
.footer-content > i{
    margin: 20px 10px;
}

@media (max-width: 1024px) {
    #title{
       text-align: center;
        
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}